/*景点信息界面*/
.scenic-info-row{
    padding: 30px 0;
}
.scenic-info-row-top{
    padding: 0;
}
.container {
    overflow: hidden;
}
.scenic-info-wrapper, .scenic-info-mod {
    width: 1000px;
    margin: auto;
}
.scenic-info-row-top .extra {
    float: right;
    /*padding-top: 10px;*/
    text-align: right;
}
.scenic-info-row-top .action {
    /*margin-top: 10px;*/
}
.scenic-info-row-top .btn-collect{
    display: inline-block;
    height: 30px;
    margin-left: 20px;
    color: #333;
    vertical-align: top;
    line-height: 30px;
    font-size: 14px;
}
.scenic-info-row-top .icon {
    float: left;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background: orange no-repeat -60px -140px;
    overflow: hidden;
}
.scenic-info-row-top .title{
    margin: 20px;
}
.scenic-info-row-top h1{
    display: inline;
    margin-right: 10px;
    font-weight: normal;
    font-size: 30px;
    color: #333;
}
/*图片部分*/
.scenic-info-r-nav{
    margin: 0;
    line-height: 59px;
    font-size: 16px;
    color: #333;
    height: 60px;
}
.scenic-info-r-nav ul{
    position: relative;
    z-index: 2;
    border-top: 1px solid #ededed;
}
.scenic-info-r-nav li {
    float: left;
    /* display: inline; */
}
.scenic-info-r-nav li a {
    display: inline-block;
    padding: 0 20px;
    color: #333;
}
.scenic-info-r-nav li.on a {
    color: #ff9d00;
    border-bottom: 2px solid #ff9d00;
}
.scenic-info-r-nav .nav-right {
    float: right;
}
.scenic-info-r-nav .btn-comment {
    display: inline-block;
    line-height: 35px;
    background-color: #ff9d00;
    padding: 0 30px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    *vertical-align: middle;
}
.scenic-info-row-bg {
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}
.scenic-info-row-picture .bd{
    height: 370px;
    position: relative;
    overflow: hidden;
}

.scenic-info-row-picture .pic-big{
    float: left;
    width: 690px;
    margin-right: 4px;
    overflow: hidden;
}
.scenic-info-row-picture .pic-small{
    float: left;
    width: 305px;
    height: 183px;
    margin-bottom: 4px;
    overflow: hidden;
}
.scenic-info-row-picture .bd span {
    position: absolute;
    height: 20px;
    background-color: #000;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 0 12px;
    left: 20px;
    bottom: 15px;
    border-radius: 10px;
}
/*简介*/
.scenic-info-mod {
    padding: 30px 0;
}
.summary {
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 25px;
    font-size: 16px;
    color: #333;
    line-height: 24px;
}
.scenic-info-mod-detail .baseinfo {
    margin: 10px 0 25px;
    font-size: 14px;
    line-height: 24px;
}
.scenic-info-mod-detail .baseinfo li {
    float: left;
    width: 280px;
    padding: 3px 30px 3px 0;
}
.scenic-info-mod-detail .baseinfo .label {
    color: #333;
}
.scenic-info-mod-detail .baseinfo li+li {
    border-left: 1px solid #eee;
    padding: 3px 30px;
}
.scenic-info-mod-detail dl {
    margin: 20px 0;
    font-size: 14px;
    line-height: 24px;
}
.scenic-info-mod-detail dt {
    margin: 0;
    color: #333;
    margin-bottom: 5px;
}
.scenic-info-mod-detail dd {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* 地图 */
.scenic-map-wrapper, .scenic-map-mod {
    width: 1000px;
    margin: 0 auto;
}
.scenic-map-mod {
    padding: 30px 0;
}

.scenic-map-mhd {
    font-size: 20px;
    color: #333;
    margin: -30px -3000px 30px;
    padding: 40px 3000px 0;
    border-top: 1px solid #eee;
    font-weight: normal;
}
.scenic-map-mhd p {
    margin-top: 5px;
    font-size: 14px;
    color: #999;
}
.scenic-map-mod-location .maps {
    float: left;
    display: inline;
    width: 500px;
    height: 270px;
    position: relative;
    overflow: hidden;
}
.scenic-map-mod-location .m-poi {
    float: left;
    display: inline;
    margin-left: 20px;
    width: 228px;
    height: 268px;
    border: 1px solid #eee;
}
.scenic-map-mod-location .mtitle {
    text-align: center;
    line-height: 48px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #333;
    background-color: #f8f8f8;
}
.scenic-map-mod-location .mlist {
    padding: 0 20px;
    height: 219px;
    overflow: auto;
}
.scenic-map-mod-location .mlist li {
    padding: 15px 0;
    line-height: 24px;
    font-size: 14px;
    border-bottom: 1px dashed #eee;
}
.scenic-map-mod-location .mlist .dist {
    float: right;
    font-size: 12px;
}
.scenic-map-mod-location .mlist a {
    color: #666;
}

/*主题列表*/
.s-theme {
    padding-bottom: 100px;
}
.s-title {
    font-size: 24px;
    color: #333;
    line-height: 30px;
}
.s-theme .s-title {
    text-align: center;
    margin: 100px 0 25px 0;
}
.s-themeList {
    border-bottom: 1px solid #e4e4e4;
}
.s-themeList a {
    display: block;
    text-decoration: none;
    float: left;
    width: 166px;
    width: 16.66%;
    color: #666;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}
.s-themeList a.on {
    color: #ff8a00;
    border-bottom: 3px solid #ff8a00;
    margin-bottom: -2px;
}
.s-tab-theme ul {
    width: 1023px;
}
.s-tab-theme ul li {
    width: 318px;
    height: 240px;
    float: left;
    margin: 20px 23px 0 0;
    position: relative;
}
.s-fc-item {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
}
.s-tab-theme ul li .pic {
    width: 318px;
    height: 240px;
    overflow: hidden;
}
.s-fc-item img {
    width: 318px;
    height: 240px;
    min-height: 240px;
}
._s_j_tab_content img {
    opacity: 0;
    -webkit-transition: opacity ease-in 1s;
    -moz-transition: opacity ease-in 1s;
    transition: opacity ease-in 1s;
}
._s_j_tab_content .img-show {
    opacity: 1;
}
.s-tab-theme ul li .bag-opa {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: .2;
    z-index: 2;
}
.s-fc-item .shadow {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-image: -webkit-linear-gradient(
            45deg
            ,rgba(0,0,0,0.4),transparent 40%);
    background-image: linear-gradient(
            45deg
            ,rgba(0,0,0,0.4),transparent 40%);
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.s-fc-item .info h2, .fc-item .info p {
    text-shadow: 2px 2px 2px rgb(80% 80% 80%);
}
.s-tab-theme ul li .info h2 {
    font-size: 30px;
    color: #FFF;
    font-weight: normal;
}
.fc-item .info h2, .fc-item .info p {
    text-shadow: 2px 2px 2px rgb(80% 80% 80%);
}
.tab-theme ul li .info p {
    font-size: 18px;
    color: #FFF;
}




/*评论*/
.scenic-comment-mhd {
    font-size: 20px;
    color: #333;
    margin: -30px -3000px 30px;
    padding: 40px 3000px 0;
    border-top: 1px solid #eee;
    font-weight: normal;
}
.scenic-comment-nav {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.scenic-comment-nav li {
    float: left;
    margin: 5px 0;
    line-height: 24px;
    font-size: 14px;
}
.scenic-comment-nav .on a {
    background-color: #fca729;
    color: #fff;
}
.scenic-comment-nav li+li .divide {
    float: left;
    margin: 5px 5px;
    width: 1px;
    height: 15px;
    background-color: #eee;
}
.scenic-comment-nav a {
    color: #333;
    display: inline-block;
    padding: 0 15px;
    border-radius: 2px;
}
.scenic-comment-nav .num {
    font-size: 12px;
    color: #999;
}
.scenic-comment-list {
    padding: 0 30px;
    border-bottom: 1px solid #eee;
}
.scenic-comment-item {
    padding: 25px 0 20px 70px;
    border-bottom: 1px dashed #dedede;
}
.scenic-comment-item .user {
    float: left;
    margin-left: -70px;
    display: inline;
    text-align: center;
}
.scenic-comment-item .avatar {
    display: block;
    margin-bottom: 5px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}
.scenic-comment-item .level {
    color: #ea3c1a;
}
.scenic-comment-item .name {
    font-size: 14px;
}
.scenic-comment-item:last-child {
    border-bottom: 0;
}
.s-star {
    display: block;
    width: 67px;
    height: 13px;
    /*星星图片*/
    background: url(/images/ztl/scenic/scenic_show_3.jpg) no-repeat -60px -90px;
    overflow: hidden;
}
.scenic-comment-item .s-star {
    display: inline-block;
    margin: 0 5px;
    vertical-align: -1px;
    *vertical-align: middle;
}
.s-star4 {
    background-position: -74px -90px;
}
.scenic-comment-txt {
    margin: 8px 0 10px;
    font-size: 14px;
    line-height: 22px;
}
.scenic-comment-img {
    margin-bottom: 10px;
    overflow: hidden;
    *zoom: 1;
}
.scenic-comment-img a {
    float: left;
    margin-right: 10px;
}
.scenic-comment-item .info {
    margin-top: 5px;
    line-height: 20px;
}
.scenic-comment-item .btn-comment {
    float: right;
    line-height: 22px;
}
.scenic-comment-item .time {
    color: #999;
    margin-right: 20px;
}
.scenic-comment-review {
    margin-top: 5px;
    clear: both;
    border-top: 1px solid #eaeaea;
    line-height: 20px;
}
.scenic-comment-review li {
    border-bottom: 1px dotted #e7e7e7;
    padding: 5px 10px 5px 35px;
}
.scenic-comment-review li img {
    float: left;
    margin: 1px 0 0 -24px;
}
.hide {
    display: none;
}
.scenic-comment-pagination {
    padding-right: 0;
}
.scenic-comment-pagination {
    padding: 20px 5px;
    line-height: 24px;
    text-align: right;
    font-size: 12px;
    color: #999;
}
.scenic-comment-pagination .count {
    padding-right: 12px;
}
.scenic-comment-pagination .pg-current {
    padding: 0 7px;
}
.scenic-comment-pagination .pi {
    display: inline-block;
    margin-right: 1px;
    margin-left: 1px;
    padding: 0 7px;
    border: 0 none;
    background: 0;
    border-radius: 4px;
    color: #666;
    vertical-align: middle;
}
.scenic-comment-pagination .pg-first, .scenic-comment-pagination .pg-prev, .scenic-comment-pagination .pg-next, .scenic-comment-pagination .pg-last, .scenic-comment-pagination .pg-current {
    display: inline-block;
    margin-right: 5px;
    background-color: #ff9d00;
    padding: 0 5px;
    border-radius: 4px;
    color: #fff;
    vertical-align: middle;
}
.scenic-comment-pagination .more {
    margin-top: 20px;
    text-align: center;
}
.scenic-info-mod-comment .more {
    margin-top: 20px;
    text-align: center;
}
.scenic-info-mod-comment .more a {
    display: inline-block;
    width: 160px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #fc9c27;
    line-height: 50px;
    color: #ff9d00;
    font-size: 14px;
    border-radius: 4px;
    text-align: center;
}

/*评论界面*/
.pop-scenic-comment {
    width: 850px;
    top: 5%;
    margin: 0 0 0 -465px;
    padding: 35px 40px 40px;
    background-color: #fff;
}
.pop_no_margin {
    margin: 0!important;
    width: auto;
}
.popup-scenic-box {
    position: fixed;
    _position: absolute;
    z-index: 1001;
    width: 380px;
    height: auto;
    top: 40%;
    left: 50%;
    margin: -140px 0 0 -190px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgb(30% 30% 30%);
    border: 1px solid #ccc\9;
    overflow: hidden;
}

.frego-scenic-comments h2 {
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 400;
}
.frego-scenic-comments h2 strong {
    padding-right: 10px;
    font-size: 22px;
    font-weight: 400;
    color: #444;
}
.frego-scenic-comments h2 em, .scenic-comment-intact-item .label em {
    font-style: normal;
    color: #ea3c1a;
}
.scenic-comment-intact-item {
    margin-bottom: 20px;
}
.scenic-comment-intact-item.item-star {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
}
.scenic-comment-intact-item .label {
    float: left;
    width: 95px;
    padding-right: 14px;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
}
.scenic-comment-intact-item.item-star .label {
    line-height: 24px;
}

.scenic-comment-score, .scenic-comment-star {
    position: relative;
    float: left;
    display: inline-block;
    width: 127px;
    height: 23px;
    overflow: hidden;
    background: url(/images/ztl/scenic/scenic_show_1.jpg) no-repeat -300px 0;
    vertical-align: middle;
}
.scenic-comment-score span, .scenic-comment-star span {
    display: inline-block;
    height: 23px;
    background: url(/images/ztl/scenic/scenic_show_1.jpg) no-repeat -300px -30px;
    vertical-align: top;
}
.scenic-comment-score span.star0, .scenic-comment-star span.star0 {
    width: 0;
}
.scenic-comment-score span.star1, .scenic-comment-star span.star1 {
    width: 23px;
}
.scenic-comment-score span.star2, .scenic-comment-star span.star2 {
     width: 49px;
}
.scenic-comment-score span.star3, .scenic-comment-star span.star3 {
    width: 75px;
}
.scenic-comment-score span.star4, .scenic-comment-star span.star4 {
    width: 101px;
}
.scenic-comment-score span.star5, .scenic-comment-star span.star5 {
    width: 127px;
}
.scenic-comment-score .click-star, .scenic-comment-star .click-star {
    position: absolute;
    left: 0;
    top: 0;
    width: 132px;
    height: 23px;
}

.scenic-comment-score .click-star a, .review-star .click-star a {
    float: left;
    width: 23px;
    height: 23px;
    padding-right: 3px;
}
.scenic-comment-intact-item .txt-tips {
    color: #999;
    padding-left: 10px;
}
.scenic-comment-intact-item.item-comment {
    margin-bottom: 15px;
}
.scenic-comment-intact-item .label {
    float: left;
    width: 95px;
    padding-right: 14px;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
}
.scenic-comment-intact-item .content {
    overflow: hidden;
}
.pop-upload textarea, .scenic-comment-intact-item.item-comment textarea {
    margin-bottom: 3px;
    border: 1px solid #efefef;
    background-color: #efefef;
    padding: 12px 14px;
    width: 90%;
    height: 60px;
    font-size: 12px;
    line-height: 20px;
    overflow: auto;
    resize: none;
}
.scenic-comment-intact-item.item-comment p {
    color: #999;
}
.scenic-comment-intact-item.item-photo {
    margin-bottom: 25px;
}
.scenic-comment-intact-item .label {
    float: left;
    width: 95px;
    padding-right: 14px;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
}
.scenic-comment-intact-item.item-photo .label {
    line-height: 120px;
}
.scenic-comment-intact-item.item-action {
    margin: 30px 0 20px 109px;
}
.btn-large {
    display: block;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffa800;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
.scenic-comment-intact-item.item-action .btn-large {
    float: left;
    margin-right: 20px;
    width: 130px;
    height: 36px;
    line-height: 36px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

#popup_close {
    outline: none;
    position: absolute;
    z-index: 50;
    top: 7px;
    right: 6px;
    width: 12px;
    height: 12px;
    background: url(https://gss0.baidu.com/6b1IcTe9R1gBo1vgoIiO_jowehsv/wolfman/static/common/images/popup_close_15d2283.gif) no-repeat;
    border: 0;
    cursor: pointer;
}
.popup-box a.close-btn {
    width: 28px;
    height: 19px;
    padding: 8px 0 0 8px;
    background: url(/images/ztl/scenic/scenic_show_1.jpg) 0 -165px no-repeat;
    outline: 0;
    position: absolute;
    right: 0;
    top: 11px;
    display: block;
}
.popup-box a.close-btn {
    width: 36px;
    height: 26px;
    background: url(/images/ztl/scenic/scenic_show_1.jpg) no-repeat 0 -280px;
    padding: 0;
}

.popup-box {
    position: fixed;
    _position: absolute;
    z-index: 1001;
    width: 380px;
    height: auto;
    top: 40%;
    left: 50%;
    margin: -140px 0 0 -190px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgb(30% 30% 30%);
    border: 1px solid #ccc\9;
    overflow: hidden;
}
.pop_no_margin {
    margin: 0!important;
    width: auto;
}
.new-popbox {
    width: 420px;
    background-color: #fff;
}
.popup-box a.close-btn {
    width: 28px;
    height: 19px;
    padding: 8px 0 0 8px;
    background: url(/images/ztl/scenic/scenic_show_1.jpg) 0 -165px no-repeat;
    outline: 0;
    position: absolute;
    right: 0;
    top: 11px;
    display: block;
}
.popup-box a.close-btn {
    width: 36px;
    height: 26px;
    background: url(/images/ztl/scenic/scenic_show_1.jpg) no-repeat 0 -280px;
    padding: 0;
}
.popup-box .pop-ico, .popup-box .pop-ctn {
    background-color: #f4f3f0;
    text-align: center;
}
.new-popbox .pop-ico, .new-popbox .pop-ctn, .new-popbox .pop-con {
    background: 0;
}
.popup-box .pop-ico i {
    width: 55px;
    height: 55px;
    display: inline-block;
    background: url(/images/ztl/scenic/scenic_show_1.jpg) no-repeat;
    _background: url(/images/ztl/scenic/scenic_show_1.jpg) no-repeat;
    margin: 34px 0 14px;
}
.new-popbox .pop-ico i {
    margin: 40px 0 20px;
    width: 68px;
    height: 68px;
    background: url(/images/ztl/scenic/scenic_show_1.jpg) no-repeat 0 0;
}
.popup-box .pop-ico i.i1 {
    background-position: 0 0;
}
.new-popbox .pop-ico i.i1 {
    background-position: 0 -140px;
}
.popup-box .pop-ico, .popup-box .pop-ctn {
    background-color: #f4f3f0;
    text-align: center;
}
.new-popbox .pop-ico, .new-popbox .pop-ctn, .new-popbox .pop-con {
    background: 0;
}
.new-popbox .pop-ctn {
    margin-bottom: 20px;
    min-height: 60px;
}
.popup-box .pop-ctn p.hd {
    font-size: 14px;
    color: #444;
    padding: 0 20px;
}
.new-popbox .pop-ctn p.hd {
    font-size: 18px;
    color: #333;
    line-height: 1.8em;
}
.popup-box .pop-ctn p.bd {
    font-size: 12px;
    color: #666;
    line-height: 1.8em;
    padding: 10px 0;
    min-height: 16px;
}
.new-popbox .pop-ctn p.bd {
    padding: 0;
    font-size: 14px;
    color: #666;
}
.new-popbox .pop-btns {
    border-top: 1px solid #e5e5e5;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0;
}
.new-popbox .popbtn {
    display: block;
    font-size: 16px;
    -webkit-transition: background .1s linear 0s;
    transition: background .1s linear 0s;
    border-radius: 0 0 4px 4px;
    outline: 0;
}
.new-popbox .popbtn-submit {
    color: #ff9d00;
}











